body		{
			background-color: #383332;
			}

#wrapper	{
			background-color:#59565E;
			width:960px;
			margin-left:auto;
			margin-right:auto;
			}
	
h1			{
			position:absolute;
			margin-left:-999px;
			}
h2			{
			font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
			padding-right:25px;
			padding-left:25px;
			padding-top:10px;
			color:#451C0D;
		
			}
			
h3			{
			text-align:center;
			font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
			}

#sideColumn {
			background-color: #B6BBC7;
			width: 250px;
			float: left;
			margin-top: 10px;
			margin-left: 10px;
			margin-bottom:5px;
			}
			
#huskyside	{
			padding-left:25px;
			}
		
ul			{
			list-style-type:none;
			margin:30px;
			padding:0px;
			}
			
li			{
			width:200px;
			margin-top:5px;
			
			}

a			{
			display:block;
			background-color:#5C6A76;
			box-shadow:5px 5px 2px #8E8475;
			color:#E7EBED;
			font-style:italic;
			font-size:20px;
			font-weight:bold;
			text-decoration:none;
			padding:8px;
			}
			
a:hover		{
			background-color:#6C98C4;
			color:#000000;
			}
			
#info		{
			padding:10px;
			text-align:justify;
			}

#mainColumn{
			background-color:#D6D9DB;
			width:670px;
			float:right;
			margin-right:10px;
			margin-top:5px;
			margin-left:10px;
			margin-bottom:5px;

			}
			
p			{
			font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
			padding-right:25px;
			padding-left:25px;
		
			}
			
#mydog		{
			text-align:center;
			color:#451C0D;
			}
			
#pic		{
			padding:10px;
			text-align:center;
			
			}

#footer		{
			background-color:#8393A2;
			clear:both;
			text-align:center;
			font-size:15px;
			}
		
.textwrap	{
			
			float:right;
			margin-right:15px;
			padding-left:20px;
			padding-top:30px;
			
			}
			
.textwrap span {
				font-size:11px;
				color:#451C0D;
				}
.picborder {
			border-style:ridge;
			border-color:#900;
	
}